<%= form_with(model: [@todo, item], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }, class: "contents") do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% @todo.fields.each do |field| %>
    <div class="my-5">
      <%= form.label field.name %>
      <%= text_field_tag "fields[#{field.name.downcase}]", nil, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>

  <% form.fields_for :setting do |setting_subform| %>
    <div class="my-5">
      <%= setting_subform.label :name %>
      <%= setting_subform.text_field :name %>
    </div>
    <div class="my-5">
      <%= setting_subform.check_box :_destroy %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
