<div id="<%= dom_id item %>" class="item">
  <p class="my-5">
    <strong class="block font-medium mb-1">Item:</strong>
    <%= "#{item.name} (#{item.id})" %>
  </p>

  <% item.field_associations.each do |field_association| %>
    <p class="my-5">
      <strong class="block font-medium mb-1"><%= field_association.field.name %>:</strong>
      <%= field_association.value %>
    </p>
  <% end %>

  <%=
    link_to(
      'Destroy this item',
      todo_item_path(item.todo, item),
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      },
      class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    )
  %>
</div>
