<div id="<%= dom_id item %>" class="item rounded-lg my-5 py-3 px-5 bg-gray-100">
  <div class="flex flex-row justify-between">
    <div class="font-medium text-slate-800">
      <%= item.name %>
    </div>
    <%=
      link_to(
        'Destroy this item',
        todo_item_path(item.todo, item),
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        },
        class: "rounded-lg font-medium"
      )
    %>
  </div>

  <% item.field_associations.each do |field_association| %>
    <div class="flex flex-row justify-between">
      <div class="font-sm text-slate-800">
        <%= field_association.field.name %>
      </div>
      <div class="font-sm text-slate-800">
        <%= field_association.value %>
      </div>
    </div>
  <% end %>

</div>
