<%= turbo_stream_from @todo %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="mx-auto">
      <%= form_for :filter, method: :get do |f| %>
        <%= f.select :name_eq, @collections.names, include_blank: true %>
        <% @todo.fields.each do |field| %>
          <%= f.select field.predicate, @collections.public_send(field.collection_name), include_blank: true %>
        <% end %>
        <%= f.submit %>
      <% end %>
    </div>

    <%= render @todo %>

    <%= content_tag :div, id: "items" do %>
      <%= render @filtered_items %>
    <% end %>

    <%= turbo_frame_tag "new_item", src: new_todo_item_path(@todo) %>

   <%= content_tag :div, id: "fields" do %>
      <%= render @todo.fields %>
    <% end %>

    Add Custom Fields:
    <%= turbo_frame_tag "new_field", src: new_todo_field_path(@todo) %>

    <%= link_to 'Edit this todo', edit_todo_path(@todo), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this todo', todo_path(@todo), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to todos', todos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
